.daily-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;

  div {
    gap: 2rem;
    margin: 10px 0 0 0;
  }
}

.eight-forecast {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    padding: 0;
    margin: 0;
  }
}

.forecast-list {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  img {
    width: 3rem;
    height: 3rem;
  }
}
